table {
	border-radius: 10px;
	margin: 20px auto;
	border-collapse: collapse;
	border-spacing:0;
	box-shadow: 0 2px 10px #ccc;
}

td {
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 10px 20px;
	color: #444;
}

td:last-child {
	border-right: none;
}

th {
	border-bottom: 1px solid #ccc;
	padding: 10px 20px;

}

th:first-child {
	border-radius: 10px 0 0 0;
}

th:last-child {
	border-radius: 0 10px 0 0;

}

tr:last-child td:first-child {
	border-radius: 0 0 0 10px;
}

tr:last-child td:last-child {
	border-radius: 0 0 10px 0;

}

table tr:last-child td {
	border-bottom: none;

}

thead tr th {
	background-image: linear-gradient(top, #f7f7f7 0%, #d4d4d4 100%);;

}

tr td {
	background-image: linear-gradient(top, #ffffff 0%, #e4f0ff 100%);
	text-shadow: 0 1px 0 #fff;
}

tr:nth-child(even) td {
	background-image: linear-gradient(top, #ffffff 0%, #eee 100%);

}
